*
!\src
!\src\main
!\src\main\java
!\src\main\java\com
!\src\main\java\com\epam
!\src\main\java\com\epam\automation
!\src\main\java\com\epam\automation\utils
!\src\main\java\com\epam\automation\page
!LoginPage.java
!VerificationEmailUtil.java
!\src\test
!\src\test\java
!\src\test\java\com
!\src\test\java\com\epam
!\src\test\java\com\epam\automation
!\src\test\java\com\epam\automation\tests
!AbstractTest.java
!.gitignore
!README.md
